@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  background-image: url(/grid.svg);
}

.root:before {
  background-image: url(/bg.jpg);
  background-size: cover;
  z-index: -1;
  -webkit-filter: saturate(150%);
  filter: saturate(150%);
  opacity: 0;
}

.root::before,
.root::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.root::after {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #000 100%);
}

::selection {
  background-color: #04cf7e;
  color: #0a0a0a;
}
