* {
  box-sizing: border-box;
}

.backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.dialog {
  padding: 0.5rem;
  width: 640px;
  transition: 0.1s ease 0s;
  will-change: height;
  position: fixed;
  border-style: solid;
  top: 20%;
}

.crumbs {
  display: flex;
  margin: 5px 0px 0px 5px;
}

.breadcrumb {
  border: none;
  outline: none;
  padding: 5px 10px;
  margin-right: 7px;
  cursor: pointer;
}

.searchbar {
  border: none;
  padding: 20px 10px;
  margin: 0 0 8px;
  background-color: transparent;
  font-size: 18px;
  width: 100%;
  outline: 0;
  font-family: inherit;
}

.command_wrapper {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  width: 100%;
  transition: height 0.1s ease 0s;
  will-change: height;
}

.command {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 54px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s linear;
}

.shortcuts > kbd {
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 7px;
  font-family: monospace;
}

.shortcuts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.info_wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.info_wrapper > svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.category_header {
  margin: 5px 0 10px 10px;
  font-size: 14px;
}

.selected {
  position: absolute;
  width: 100%;
  height: 54px;
  border-radius: 0.5rem;
}

.command_text {
  max-width: 90%;
  width: fit-content;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.scroll_ref {
  margin-top: 20px;
}

@media only screen and (max-width: 700px) {
  .dialog {
    width: 90%;
  }
}
