.main {
  display: flex;
  flex-direction: column;
  height: 110vh;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  font-weight: 900;
  background: linear-gradient(45deg, #ff4c4c, #00b7ff);
  color: transparent;
  background-clip: text;
  margin-bottom: 25px;
}

.description {
  color: #b8b8b8;
}
