.main {
  display: flex;
  flex-direction: column;
  height: 110vh;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  font-weight: 900;
  background: linear-gradient(45deg, #ff4c4c, #00b7ff);
  color: transparent;
  background-clip: text;
  margin-bottom: 25px;
}

.description {
  color: #b8b8b8;
}

.spinner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 30px 0px 20px;
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
