@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

:root {
  color-scheme: light !important;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div {
  width: 40vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 50px 0;
}

nav > div > a {
  font-weight: bold;
  font-size: 48px;
  text-decoration: none;
  color: black;
}

nav > div > p,
main > p,
footer {
  color: #b1b1b1;
}

nav > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 5px;
  transition: 0.2s linear;
}

nav > button:hover {
  background: #e4e4e4;
}

nav > button:active {
  background: #cccccc;
}

nav > button > svg {
  width: 36px;
  height: 36x;
}

main {
  min-height: 80vh;
}

video {
  width: 100%;
  border-radius: 16px;
}

::selection {
  background-color: #00c785;
  color: white;
}

h2 {
  font-size: 36px;
}

p > a,
footer > a {
  color: #4e4e4e;
  text-underline-offset: 8px;
}

footer {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

@media only screen and (max-width: 1024px) {
  body > div {
    width: 60vw;
  }
}

@media only screen and (max-width: 768px) {
  body > div {
    width: 95vw;
  }
}
