.kmenu {
  --backdrop-background: hsla(0, 0%, 100%, 0.565);
  --backdrop-blur: blur(2px);

  --menu-background: hsla(0, 0%, 100%, 1);
  --menu-shadow: 0px 0px 60px 10px hsla(0, 0%, 0%, 0.05);
  --menu-border: 1px solid #e2e2e2;
  --menu-border-radius: 10px;
  --menu-padding: 0.5rem;
  --menu-transition: 100ms ease;
  --menu-width: 600px;

  --search-border: 1px solid #e2e2e2;
  --search-color: hsla(0, 0%, 7%, 1);
  --search-font-size: 16px;

  --breadcrumb-font-size: 12px;
  --breadcrumb-background: #fafafa;
  --breadcrumb-color: #666666;
  --breadcrumb-radius: 4px;
  --breadcrumb-margin: 5px 0px 0px 5px;
  --breadcrumb-padding: 5px 10px;
  --breadcrumb-border: 1px solid #e2e2e2;

  --command-font-size: 14px;
  --command-icon-size: 16px;
  --command-icon-margin: 8px;
  --command-transition: 100ms linear;
  --command-inactive-color: hsla(0, 0%, 51%, 1);
  --command-active-color: hsla(0, 0%, 20%, 1);
  --command-margin: 0px 0px 0px 14px;

  --command-heading-font-size: 12px;
  --command-heading-color: #666666;
  --command-heading-margin: 5px 0 10px 10px;

  --shortcut-inactive-color: hsla(0, 0%, 51%, 1);
  --shortcut-active-color: hsla(0, 0%, 20%, 1);
  --shortcut-inactive-background: hsla(0, 0%, 100%, 0);
  --shortcut-active-background: hsla(0, 0%, 50%, 0.075);
  --shortcut-border: 1px solid hsla(0, 0%, 89%, 1);
  --shortcut-border-radius: 3px;
  --shortcut-font-size: 12px;
  --shortcut-size: 26px;

  --checkbox-width: 20px;
  --checkbox-height: 20px;
  --checkbox-border-radius: 6px;
  --checkbox-inactive-background: hsla(0, 0%, 100%, 0);
  --checkbox-active-background: hsla(0, 0%, 100%, 0);
  --checkbox-checked-background: hsla(210, 100%, 72%, 1);
  --checkbox-checked-border: 1px solid hsla(210, 100%, 72%, 1);
  --checkbox-inactive-border: 1px solid hsla(0, 0%, 89%, 1);
  --checkbox-active-border: 1px solid #d5d5d5;
  --checkbox-check-color: hsla(0, 0%, 100%, 1);
  --checkbox-transition: 0.05s linear;

  --selected-background: rgba(0, 0, 0, 0.05);
  --selected-border-radius: 8px;
  --selected-height: 50px;

  --opening-animation-duration: 100ms;
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  backdrop-filter: var(--backdrop-blur);
  background: var(--backdrop-background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.dialog {
  position: fixed;
  top: 20%;
  transition: var(--menu-transition);
  will-change: height;
  box-shadow: var(--menu-shadow);
  border: var(--menu-border);
  border-style: solid;
  border-radius: var(--menu-border-radius);
  background-color: var(--menu-background);
  padding: var(--menu-padding);
  width: var(--menu-width);
}

.crumbs {
  display: flex;
  margin: var(--breadcrumb-margin);
}

.breadcrumb {
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  border: var(--breadcrumb-border);
  border-radius: var(--breadcrumb-radius);
  background-color: var(--breadcrumb-background);
  padding: var(--breadcrumb-padding);
  color: var(--breadcrumb-color);
  font-size: var(--breadcrumb-font-size);
}

.searchbar {
  margin: 0 0 8px;
  outline: 0;
  border: none;
  border-bottom: var(--search-border);
  background-color: transparent;
  padding: 20px 10px;
  width: 100%;
  color: var(--search-color);
  font-size: var(--search-font-size);
  font-family: inherit;
}

.command_wrapper {
  display: flex;
  flex-direction: column;
  transition: height var(--command-transition);
  will-change: height;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.command {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s linear;
  cursor: pointer;
  height: var(--selected-height);
  font-size: var(--command-font-size);
  line-height: 1.75rem;
  text-decoration: none;
  color: var(--command-inactive-color);
}

div[role='option'][aria-selected='true'] .command {
  color: var(--command-active-color);
}

div[role='option'][aria-selected='true'] .info_wrapper > svg {
  color: var(--command-active-color);
}

.shortcuts > kbd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  border: var(--shortcut-border);
  border-radius: var(--shortcut-border-radius);
  background-color: var(--shortcut-inactive-background);
  width: 25px;
  height: var(--shortcut-size);
  color: var(--shortcut-inactive-color);
  font-size: var(--shortcut-font-size);
  font-family: monospace;
}

div[role='option'][aria-selected='true'] .shortcuts > kbd {
  color: var(--shortcut-active-color);
  background: var(--shortcut-active-background);
}

.shortcuts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.info_wrapper {
  display: flex;
  position: relative;
  align-items: center;
  margin: var(--command-margin);
  width: 100%;
  height: 100%;
}

.info_wrapper > svg {
  margin-right: var(--command-icon-margin);
  width: var(--command-icon-size);
  height: var(--command-icon-size);
  color: var(--command-inactive-color);
}

.category_header {
  padding: var(--command-heading-margin);
  font-size: var(--command-heading-font-size);
  color: var(--command-heading-color);
}

.selected {
  position: absolute;
  border-radius: var(--selected-border-radius);
  background: var(--selected-background);
  width: 100%;
  height: var(--selected-height);
}

.command_text {
  margin: 0;
  width: fit-content;
  max-width: 90%;
  overflow: hidden;
  font-size: var(--command-font-size);
  text-overflow: ellipsis;
}

.scroll_ref {
  margin-top: 20px;
}

.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  margin-right: var(--command-icon-margin);
}

.checkbox {
  border: var(--checkbox-inactive-border);
  position: relative;
  border-radius: var(--checkbox-border-radius);
  height: var(--checkbox-height);
  width: var(--checkbox-width);
  background: var(--checkbox-inactive-background);
  cursor: pointer;
  appearance: none;
  transition: var(--checkbox-transition);
}

.checkbox-check-container {
  position: absolute;
  pointer-events: none;
  color: var(--checkbox-check-color);
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-check {
  width: 12px;
  height: 12px;
}

.checkbox:checked {
  background: var(--checkbox-checked-background);
  border: var(--checkbox-checked-border);
}

div[role='option'][aria-selected='true'] .checkbox:not(:checked) {
  border: var(--checkbox-active-border);
  background: var(--checkbox-active-background);
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinner > div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #333;
  margin-bottom: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .dialog {
    width: 90%;
  }
}
